.privacypolicy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.privacyTitle {
  align-self: center;
  padding-bottom: 10px;
}

.privacypolicy p {
  padding-bottom: 10px;
}

.privacypolicy a {
  color: var(--fourth);
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
}



@media (max-width: 750px) {

  h3 {
    font-size: 0.9rem;
  }
}